<% if !current_user?(emomusic.user) %>
    <span class="like">
    <% if emomusic.like?(current_user) %>
      <%= form_for(emomusic.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{emomusic.likes_count} ", style: "font-weight: bold; color: red;"%>
          <%= content_tag :span, "エモいね!", style: "font-weight: bold; color: red;"%>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(emomusic.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :emomusic_id, emomusic.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{emomusic.likes_count} "%>
          <%= content_tag :span, "エモいね!" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>