<%= form_for(@emomusic) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_field :title, placeholder: "Emomusic title" %>
      <%= f.text_field :composer, placeholder: "Composer name" %>
    </div>
    <%= f.submit "Share EMO", class: "btn btn-danger" %>
  <% end %>